/learning/F_1_0.pkl
/learning/F_1_1.pkl
/learning/F_1_2.pkl
/learning/F_1_3.pkl
/learning/F_1_4.pkl
/learning/F_1_5.pkl
/learning/F_1_6.pkl
/learning/F_1_7.pkl
/learning/F_1_8.pkl
/learning/F_1_9.pkl
/learning/F_1_10.pkl
/learning/F_1_11.pkl
/learning/F_1_12.pkl
/learning/F_1_13.pkl
/learning/F_1_14.pkl
/learning/F_3_0.pkl
/learning/F_3_1.pkl
/learning/F_3_2.pkl
/learning/F_3_3.pkl
/learning/F_3_4.pkl
/learning/F_3_5.pkl
/learning/F_3_6.pkl
/learning/F_3_7.pkl
/learning/F_3_8.pkl
/learning/F_3_9.pkl
/learning/F_3_10.pkl
/learning/F_3_11.pkl
/learning/F_3_12.pkl
/learning/F_3_13.pkl
/learning/F_3_14.pkl
/learning/F_3_15.pkl
/learning/F_3_16.pkl
/learning/F_3_17.pkl
/learning/F_3_18.pkl
/learning/F_3_19.pkl
/learning/F_3_20.pkl
/learning/F_3_21.pkl
/learning/F_3_22.pkl
/learning/F_3_23.pkl
/learning/F_3_24.pkl
/learning/F_4_0.pkl
/learning/F_4_1.pkl
/learning/F_4_2.pkl
/learning/F_4_3.pkl
/learning/F_4_4.pkl
/learning/F_4_5.pkl
/learning/F_4_6.pkl
/learning/F_4_7.pkl
/learning/F_4_8.pkl
/learning/F_4_9.pkl
/learning/F_4_10.pkl
/learning/F_4_11.pkl
/learning/F_4_12.pkl
/learning/F_4_13.pkl
/learning/F_4_14.pkl
/.idea/*
*/.ipynb_checkpoints
/.ipynb_checkpoints/EDA-checkpoint.py
/.ipynb_checkpoints/eval_db-checkpoint.py
/.ipynb_checkpoints/*
/.ipynb_checkpoints/
/.run/
/data/
/*.pkl
/data/
/*.token

